* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #2d3748;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Make sure the content is aligned vertically */
  height: 100vh;
}

.container {
  text-align: center;
}

.title {
  margin-bottom: 30px;
}

.title h1 {
  font-size: 48px;
  color: white;
  font-weight: bold;
}

.image-section {
  background-image: url(./Sources/drum.png); /* Change this to your image path */
  background-size: contain; /* Ensures the image fits inside without stretching */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  width: 80%; /* Adjust width to fit the page */
  height: 500px; /* Adjust height based on your image */
  margin: 0 auto; /* Centers the image section */
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-kit {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  margin-top: 10px;
  gap: 20px; /* Space between the buttons */
}

.drum {
  background-color: rgb(16, 123, 185);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  width: 100px; /* Ensure all buttons are the same size */
  height: 100px;
}

.drum:active {
  transform: scale(0.9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.drum:hover {
  background-color: #23967d;
}

/* Düğme tıklanırken animasyon */
.pressed {
  transform: scale(0.9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
